body {

    background-color: #111827;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;
}

.cinema {

    text-align: center;

    font-family: Arial;

    color: white;

    background-color: #1f2937;

    padding: 30px;

    border-radius: 20px;

    width: 950px;
}

h1 {

    margin-bottom: 20px;
}

hr {

    margin-bottom: 30px;

    border: 1px solid #374151;
}

.tela {

    width: 600px;

    height: 70px;

    background-image: url(https://media1.tenor.com/m/5qYi8jMbbCEAAAAC/sheldon-sheldon-cooper.gif);

    background-size: 100% 100%;

    background-position: center;

    border-radius: 100px;

    margin: 40px auto;

    color: rgb(255, 255, 255);

    display: flex;

    justify-content: center;

    align-items: center;

    font-weight: bold;
}

.linha {

    display: flex;

    align-items: center;

    margin-bottom: 15px;
}

.letra-linha {

    width: 40px;

    font-size: 30px;

    font-weight: bold;
}

.assentos {

    display: flex;

    justify-content: center;

    gap: 15px;

    flex: 1;
}

button {

    width: 70px;

    height: 70px;

    font-size: 20px;

    border-radius: 10px;

    border: none;

    cursor: pointer;

    transition: 0.2s;

    color: #1f2937;
}

button:hover {

    transform: translateY(-3px);
}

.selecionado {

    background-color: #22c55e;

    color: white;
}

.selecionado:hover {

    background-color: #16a34a;
}
